.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.bg {
  background-image: url(./assets/hero-image/hero-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.bg::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000b0;
  top: 0;
  left: 0;
  z-index: -1;
}

.common-animation {
  transition: all .5s ease-in-out;
}

.common-animation:hover {
  transform: translateY(-0.45rem);
  background-color: black;
  color: blue;
}

.btn-affter {
  position: relative;
  color: red;
  z-index: 1;
}

.btn-affter::after {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 0.75rem;
  z-index: -1;
  transition: all .7s ease-in-out;
}

.btn-affter:hover::after {
  width: 100%;
  color: white !important;
  background-color: blue;
}

.btn-affter:hover {
  color: white;
}

.section-devider {
  width: 100%;
  height: 2px;
  background-color: #0000ff57;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.card-design {
  transition: all 0.3s ease-in-out;
}

.card-design:hover {
  transform: translateY(-0.35rem);
  background-color: black;
  color: white !important;
  border-radius: 1rem;
}

.more-btn {
  visibility: none;
  opacity: 0;
}

.card-design:hover .more-btn {
  opacity: 1;
  visibility: visible;
  color: red;
}

.contact-link {
  color: white;
  position: relative;
  transition: all .5s ease-in-out;
}

.contact-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  background-color: red;
  bottom: 0;
  left: 0;
  transition: all .5s ease-in-out;
}

.contact-link:hover {
  color: red;
}

.contact-link:hover::after {
  width: 100%;
}

.image-animation {
  transition: all .5s ease-in-out;
}

.image-animation:hover {
  transform: scale(1.05);
  transition: all .5s ease-in-out;
}